
@font-face {font-family: "NSRe";src: url("../fonts/NSReMedium.otf")}
* {font-family: "NSRe";}
header {
	background-color: #fff;
	width: 100%;
	height: 60px;
	padding: 5px;
	text-align: center;
	position: fixed;
	display: table;
}
header div {display: table-cell;vertical-align: middle;}
@media screen and (min-width:850px) {
	#headerLogo {height: 50px;width: auto;}
}
@media screen and (max-width:850px) {
	#headerLogo {
		max-height: 50px;
		max-width: 90%;
		margin: auto;
	}
}
div#mainHead {
	height: 100vh;
	width: 100%;
	background-image: url(../images/background-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
div#mainHeadContent {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
div#timerBox, div#mainHeadTitleBox {
	text-align: center;
}
div#mainHeadTitleBox h1{
  margin: 0;
  padding: 100px 0;
}
#ato{font-size: 50px;}
div#topNavBox {
	bottom: 0;
	height: 10%;
}
div.topNav {
	text-align: center;
	color: #fff;
	height: 100%;
	margin: 0;
}
div.topNav:nth-child(1) {background-color: rgba(255, 76, 76, 0.5);}
div.topNav:nth-child(2) {background-color: rgba(255, 255, 76, 0.5);}
div.topNav:nth-child(3) {background-color: rgba(76, 255, 76, 0.5);}
.topNav a {
  color: #fff;
  text-decoration: none;
}
div.table {
	display: table;
	height: 100%;
	width: 100%;
}
div.topNav div.table div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
div#mainContentBox {
	background-image: url(../images/background.png);
	background-repeat: repeat;
	background-size: 30px 30px;
}
div#mainContent {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
#mainContent h2:nth-child(3n+1){border-width: 0px 0px 5px 0px;border-style: solid;border-image: url(../images/h2background_1.png) 0 0 20 0 repeat;}
#mainContent h2:nth-child(3n+2){border-width: 0px 0px 5px 0px;border-style: solid;border-image: url(../images/h2background_2.png) 0 0 20 0 repeat;}
#mainContent h2:nth-child(3n){border-width: 0px 0px 5px 0px;border-style: solid;border-image: url(../images/h2background_3.png) 0 0 20 0 repeat;}
footer {
	text-align: center;
	font-size: 12px;
}
@media screen and (min-width:900px) {
	div#timerBox, div#mainHeadTitleBox {height: 90%;}
	#timer {font-size: 150px;}
}
@media screen and (max-width:899px) {
	div#timerBox, div#mainHeadTitleBox{height: 70%;}
	#timer {font-size: 100px;}
}
