body {
	margin: 0;
}
div.main {
	margin: 0;
	width: 95%;
}
div#opening {
	height: 100vh;
	width: 100vw;
	display: table;
        background-color: #fff;
/*
    background-image: url(../images/background-min.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
*/
	position: fixed;
}
#opening div {
	width: 100%;
    padding: 20px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#opening svg {
	width: 100%;
	height: auto;
}
#F1 {
	animation: F1 5s forwards;
}
#U2 {
	animation: U2 5s forwards;
}
#K3 {
	animation: K3 5s forwards;
}
#O4 {
	animation: O4 5s forwards;
}
#F5 {
	animation: F5 5s forwards;
}
#E6 {
	animation: E6 5s forwards;
}
#S7 {
	animation: S7 5s forwards;
}
#T8 {
	animation: T8 5s forwards;
}
#I9 {
	animation: I9 5s forwards; 
}
#V10 {
	animation: V10 5s forwards;
}
#A11 {
	animation: A11 5s forwards;
}
#L12 {
	animation: L12 5s forwards;
}
#two {
	animation: two 5s forwards;
}
#zero {
	animation: zero 5s forwards;
}
#one {
	animation: one 5s forwards;
}
#seven {
	animation: seven 5s forwards;
}
@keyframes F1 {
	0% {
		fill: #000;
	}
	100% {
		fill: #d77;
	}
}
@keyframes U2 {
	0% {
		fill: #000;
	}
	100% {
		fill: #d95;
	}
}
@keyframes K3 {
	0% {
		fill: #000;
	}
	100%{
		fill: #db4;
	}
}
@keyframes O4 {
	0% {
		fill: #000;
	}
	100% {
		fill: #dd3;
	}
}
@keyframes F5 {
	0% {
		fill: #000;
	}
	100% {
		fill: #bd4;
	}
}
@keyframes E6 {
	0% {
		fill: #000;
	}
	100% {
		fill: #9d5;
	}
}
@keyframes S7 {
	0% {
		fill: #000;
	}
	100% {
		fill: #7c6;
	}
}
@keyframes T8 {
	0% {
		fill: #000;
	}
	100% {
		fill: #5c8;
	}
}
@keyframes I9 {
	0% {
		fill: #000;
	}
	100% {
		fill: #5bb;
	}
}
@keyframes V10 {
	0% {
		fill: #000;
	}
	100% {
		fill: #5ac;
	}
}
@keyframes A11 {
	0% {
		fill: #000;
	}
	100% {
		fill: #59d;
	}
}
@keyframes L12 {
	0% {
		fill: #000;
	}
	100% {
		fill: #68d;
	}
}
@keyframes two {
	0% {
		fill: #000;
	}
	100% {
		fill: #87d;
	}
}
@keyframes zero {
	0% {
		fill: #000;
	}
	100% {
		fill: #95d;
	}
}
@keyframes one {
	0% {
		fill: #000;
	}
	100% {
		fill: #b5b;
	}
}
@keyframes seven {
	0% {
		fill: #000;
	}
	100% {
		fill: #d69;
	}
}